$circle-fill--main : #2a747c;
$circle-border--main: #348899;
$circle-fill--sub : #589899;
$circle-border--sub : #6cb2af;
$line-main : #31828C;
$line-sub : #589899;
$canvas-color : #F7EFD0;

.block.skills {
  line {
    stroke : $line-main;
    stroke-linecap: round;
    stroke-width: 7;
  }
  circle.circle-border {
    fill: $canvas-color;
    stroke: $circle-border--main;
    stroke-width: 7;
    &.sub {
      stroke: $circle-border--sub;
    }
  }
  circle.circle-fill {
    fill: $circle-fill--main;
    stroke: #fff;
    stroke-width: 0;
  }
  line.sub, circle.circle-fill.sub {
    stroke: $line-sub;
    fill: $circle-fill--sub;
  }
  .text-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    h2 {
      margin-bottom: 0;
      &[class*="pro"] {
        font-weight: 900;
      }
      &[class*="mid"] {
        @include text(rem(18px));
      }
      &[class*="ama"] {
        @include text(rem(16px));
      }
    }
    strong {
      font-weight: 900;
    }
    .skill-text {
      position: absolute;
      display: block;
      font-size: rem(22px);
      color: $canvas-color;
      text-align: center;
      border: solid 4px transparent;
      z-index: $depth-text--skill;
      width: 106px;
      cursor: default;
      &.circle-top-left-text,
      &.circle-top-right-text,
      &.circle-bot-left-text,
      &.circle-bot-right-text { cursor: pointer; }
    }
    .circle-center-text {
      top: 50%;
      left: 50%;
      margin-left: -57px;
      margin-top: -57px;
      padding-top: 38px;
    }
    .circle-top-left-text {
      top: 30%;
      left: 26%;
      margin-top: -79px;
      margin-left: -79px;
      padding-top: 50px;
      height: 100px;
      width: 150px;
    }
    .circle-top-right-text {
      top: 25%;
      left: 65%;
      margin-top: -79px;
      margin-left: -79px;
      padding-top: 50px;
      height: 100px;
      width: 150px;
    }
    .circle-bot-left-text {
      top: 75%;
      left: 30%;
      margin-top: -74px;
      margin-left: -81px;
      padding-top: 55px;
      height: 85px;
      width: 150px;
    }
    .circle-bot-right-text {
      top: 73%;
      left: 72%;
      margin-top: -74px;
      margin-left: -81px;
      padding-top: 55px;
      height: 85px;
      width: 150px;
    }
    .frontend__item {
      &.pro {
        @include position_skill_text(8%, 22%, 57px, 30px);
      }
      &.mid {
        @include position_skill_text(16%, 42%, 57px, 30px);
      }
      &.ama1 {
        @include text(rem(18px));
        @include position_skill_text(18%, 12%, 57px, 14.5px);
      }
      &.ama2 {
        @include text(rem(18px));
        @include position_skill_text(38%, 17%, 57px, 25px);
      }
    }
    .backend__item {
      &.pro {
        @include position_skill_text(77%, 10%, 57px, 30px);
      }
      &.ama1 {
        @include text(rem(18px));
        @include position_skill_text(88%, 32%, 57px, 17px);
      }
      &.ama2 {
        @include text(rem(18px));
        @include position_skill_text(56%, 10%, 57px, 22px);
      }
    }
    .devops__item {
      &.pro1 {
        @include position_skill_text(32%, 54%, 57px, 17px);
      }
      &.pro2 {
        @include position_skill_text(38%, 89%, 57px, 17px);
      }
      &.mid {
        @include position_skill_text(19%, 68%, 57px, 25px);
      }
      &.ama1 {
        @include text(rem(18px));
        @include position_skill_text(13%, 86%, 57px, 17px);
      }
    }
    .database__item {
      &.pro1 {
        @include position_skill_text(89%, 66%, 57px, 17px);
      }
      &.pro2 {
        @include position_skill_text(72%, 50%, 57px, 17px);
      }
      &.ama1 {
        @include position_skill_text(83%, 86%, 57px, 17px);
      }
      &.ama2 {
        @include position_skill_text(63%, 84%, 57px, 17px);
      }
    }
  }

  .skills-canvas,
  .skills-frontend,
  .skills-backend,
  .skills-devops,
  .skills-database {
    position: absolute;
    display: inherit;
  }

  line.sub {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    &.animate {
      animation: dash 1s linear forwards;
    }
  }
  .circle-fill.sub {
    transform: scale(0);
    transform-origin: 50% 50%;
    &.animate {
      animation: expand .3s linear forwards;
    }
  }
  .circle-border.sub {
    transform: scale(0);
    transform-origin: 50% 50%;
    &.animate {
      animation: elasticExpand .5s linear forwards;
    }
  }
  .skills-canvas {
    line {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      &.animate{
        animation: dash 1s linear forwards;
      }
    }
    .circle-center {
      // transform: scale(0);
      // &.animate {
      //   transform-origin: 50% 50%;
      //   animation: elasticExpand 1s linear forwards;
      // }
    }
    .circle-big {
      transform: scale(0);
      transform-origin: 50% 50%;
      &.animate {
        animation: expand .3s linear forwards;
      }
    }
    .big-circle-border {
      transform: scale(0);
      transform-origin: 50% 50%;
      &.animate {
        animation: elasticExpand .8s linear forwards;
      }
      &.heartbeatOne {
        animation: heartbeatOne 5s linear infinite forwards;
      }
      &.heartbeatTwo {
        animation: heartbeatTwo 15s linear infinite forwards;
      }
      &.heartbeatThree {
        animation: heartbeatThree 5s linear infinite forwards;
      }
      &.heartbeatFour {
        animation: heartbeatFour 10s linear infinite forwards;
      }
      &.rotation {

      }
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes expand {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes elasticExpand {
  0%  { transform: scale(0); }
  30% { transform: scale(1.4); }
  37% { transform: scale(0.9); }
  46% { transform: scale(1.05); }
  58% { transform: scale(0.95); }
  74% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes heartbeatOne {
  0% { transform: scale(1);}
  22% { transform: scale(1);}
  25% { transform: scale(1.15);}
  28% { transform: scale(1);}
  100% { transform: scale(1);}
}

@keyframes heartbeatTwo {
  0% { transform: scale(1);}
  33.5% { transform: scale(1);}
  35% { transform: scale(1.15);}
  36.5% { transform: scale(1);}
  73.5% { transform: scale(1);}
  75% { transform: scale(1.15);}
  76.5% { transform: scale(1);}
  100% { transform: scale(1);}
}

@keyframes heartbeatThree {
  0% { transform: scale(1);}
  49% { transform: scale(1);}
  51% { transform: scale(1.15);}
  53% { transform: scale(1);}
  100% { transform: scale(1);}
}

@keyframes heartbeatFour {
  0% { transform: scale(1);}
  74% { transform: scale(1);}
  75% { transform: scale(1.15);}
  76% { transform: scale(1);}
  100% { transform: scale(1);}
}
