@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
html {
  font-size: 62.5%;
  /* 10px browser default */ }

/* Chrome fix */
body {
  font-size: 2rem;
  line-height: 1.625;
  font-weight: 300;
  color: #333;
  background-color: #fefefe;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 300%;
  width: 300%; }
  body > div {
    font-size: 2rem; }

::-moz-selection, ::selection {
  background-color: #333;
  color: #fefefe; }

a {
  color: #333;
  text-decoration: none; }
  a:hover {
    color: #55acee;
    outline: none;
    border-bottom: solid 1px; }
  a:active, a:visited {
    text-decoration: none;
  }

p {
  margin: 0 0 2rem;
  padding: 0; }

ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

hr {
  border: 0;
  border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  clear: left;
  margin: 0 0 40px;
  padding-top: 40px; }

/* Headings
--------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 20px; }

h1 {
  font-size: 3.6rem; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.4rem; }

.entry-content h4 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 40px;
  text-transform: uppercase; }

h5 {
  font-size: 2rem; }

h6 {
  font-size: 1.8rem; }


.resume {
  width: 22.5%;
  position: fixed;
  background: white;
  border-right: 2px solid black;
  height: 100%;
  top: 0;
  bottom: 0; }
  .resume__toolbar {
    display: block;
    width: 30px;
    height: 30px;
    margin: 31.5px 0 34px 34px;
    font-size: 27px;
    color: #000; }
  .resume__myself img {
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 5%;
    margin-bottom: 20px; }
  .resume__myself .name {
    font-weight: 700;
    margin-bottom: 1rem; }
  .resume__myself .tagline {
    font-size: 1.6rem;
    color: #878787;
    padding: 0 3rem;
    margin-bottom: 0; }
    .resume__myself .tagline:last-child {
      margin-bottom: 3.5rem; }
  .resume__inner {
    display: block; }
    .resume__inner .slo {
      font-size: 1.6rem;
      font-weight: 400; }
    .resume__inner__item {
      color: #333;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 10px 12px;
      display: block;
      width: 250px;
      margin: 12px auto; }
      .resume__inner__item:focus {
        text-decoration: none;
        color: #333;
        border: none; }
  @media only screen and (max-width: 425px) {
    .resume {
      width: 100%;
      left: 0; }
    .resume__toolbar {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    }
  @media only screen and (min-width: 426px) and (max-width: 1023px) {
    .resume {
      width: 768px;
      left: -105%; } }

.resume__footer p {
  font-size: 1.2rem;
  color: #878787;
  padding: 0 3rem;
  margin-bottom: 0; }

.map li, .social-footer, .resume {
  text-align: center; }

.icon-spin-this {
  -webkit-transition: -webkit-transform .25s, opacity .25s;
  -moz-transition: -moz-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s;
  opacity: .25; }

.icon-spin-this:hover {
  opacity: 1; }

.btn-defualt {
  background-color: #333; }
.btn-highlight {
  background-color: #55acee; }
.btn-error {
  background-color: #E26A6A; }

@media only screen and (max-width: 425px) {
  .btn-close {
    display: none; } }

.btn-hide {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem; }

.btn-close, .btn-hide {
  width: 3rem;
  height: 3rem;
  cursor: pointer; }

.btn-close {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem; }

.icon-spin-this:hover {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg); }
