.top {
  position: absolute;
  z-index: 99;
  left: 50%;
  .title {
    position: relative;
    left: -25%;
    img {width: 50%}
  }
  h3 {
    position: relative;
    left: -50%;
    font-family: $font-family--typewriter;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: normal;
    margin-top: -30px;
  }

}
