.allbox {
  margin: 100px 10% 100px 10%;
  height: 80%;
  &__inner {
    display: inline-block;
    padding: 30px;
   &__item,
   .front,
   .back {
     width: 150px;
     height: 150px;
     line-height: 150px;
     text-align: center;
     font-size: 30px;
     border-radius: 20px;
   }
   .front img,
   .back img {
     border: 0;
     height: 150px;
     width: 150px;
   }
   &__item {
     margin: 10px;
     float: left;
     &:hover .flipper {
       transform: rotateY(180deg);
     }
     &:nth-child(4n+1) {
       clear: both;
     }
     .flipper {
       transition: 0.6s;
       transform-style: preserve-3d;
       position: relative;
     }
   }
 }
}
