.ng-hide {
  &.fade {
    opacity: 0;
  }
  &-remove.fade {
    transition: all linear .5s;
    &.delay {
      transition-delay: .4s;
    }
    &.delay--long {
      transition-delay: 1s;
    }
  }
  &-add.fade {
    transition: all linear .5s;
  }
}

.right {transition: all linear 1s;}
