/* Structure and Layout
---------------------------------------------------------------------------------------------------- */

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.inner-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.block {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  display: none;
  z-index: $depth-page;
  &__inner {
    text-align: center;
  }
  &.home, &.experiences, &.skills,
  &.interests, &.contact {
    width: 100%;
    height: 100%;
    display: none;
  }
  &.home {
    background-color: #F5F6E8;
  }
  &.experiences {
    background-color: #AADBE6;
  }
  &.skills {
    background-color: #F7EFD0;
  }
  &.interests {
    background-color: #D0CAE8;
  }
  &.contact {
    background-color: #F2EFE8;
  }
}

.expand-msg {
  display: none;
  @extend %fullpage;
  background: #353d48;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  z-index: $depth-warning;
  p {
    @include vertical-align();
    @include text(rem(16px), $weight: $font-weight--medium, $color: $color-font-secondary);
  }
  span {
    @include text(rem(12px), $weight: $font-weight--medium, $color: $color-font-secondary);
    position: absolute;
    bottom: 50px;
    left: calc(50% - 120.65px);
    a {
      @include text(rem(12px), $weight: $font-weight--ultra-bold, $color: $color-font-secondary);
    }
  }
  @media (max-width: 1265px) {
    & {
      display: block;
    }
  }
}
