.block.experiences {
  .left, .right {
    height: 738.5px;
    float: left;
    display: inline-block;
  }
  .left {
    width: 710.5px;
    .preview {
      width: 445px;
      height: 274.48px;
      position: absolute;
      left: 13.26rem;
      top: 20.1rem;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      &:nth-child(n+2) {
        opacity: 0;
        top: -200%;
        left: 0;
      }
      &.mobile {
        left: calc(50% - 25.25px);
        top: 50%;
        width: 50.5px;
        height: auto;
        border-radius: 10px;
      }
    }
  }
  .right {
    max-width: 710px;
    min-width: 555px;
    .desc{
      @include vertical-align();
      text-align: left;
      height: 40%;
      & > * {
        position: absolute;
        &:nth-child(n+2) { top: 200%; opacity: 0; }
      }
      p {
        @include text(rem(17px), $weight: $font-weight--light);
      }
      h1 {
        @include text(rem(43px), $weight: $font-weight--bold);
      }
      ol {
        margin-left: 1.7rem;
        li {
          list-style-type:disc;
          @include text(rem(16px), $weight: $font-weight--light);
        }
      }
      .btn {
        margin-top: 2rem;
        transition: all .3s $linear;
        &:hover {
          border: solid 1px $picton-blue;
          color: white;
          background-color: $picton-blue;
        }
      }
    }
  }
  .experiences__timeline {
    position: absolute;
    padding: 25px 22px 25px 37px;
    bottom: 30px;
    z-index: $depth-experience-timeline;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    -webkit-transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
    transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
    &__controller {
      background: #e1e1e1;
      position: relative;
      width: 600px;
      height: 4px;
      border-radius: 5px;
      .active-timeline{
        position: absolute;
        height: 4px;
        background: #3c948b;
        left: 0;
        top: 0;
        width: 0%;
      }
      button.timeline__item {
        background-color: #e1e1e1;
        z-index: 99;
        transition: 0.3s ease-in-out;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        text-align: center;
        outline: none;
        border: none;
        cursor: pointer;
        &:nth-child(1) { left: -3%; }
        &:nth-child(2) { left: 17%; }
        &:nth-child(3) { left: 37%; }
        &:nth-child(4) { left: 57%; }
        &:nth-child(5) { left: 77%; }
        &:nth-child(6) { left: 97%; }
        &.pre-active {
          background-color: #3c948b;
          -webkit-transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
          transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
        }
        &:hover {
          background-color: #333333;
          .hover-txt {
            bottom: 40px;
            opacity: 1;
          }
        }
        &.active{
          background-color: #3c948b;
          .hover-txt {
            font-weight: 900;
            background-color: #3c948b;
            color: #ffffff;
            display: block;
            bottom: 40px;
            opacity: 1;
            &:after {
              border-top: 10px solid #3c948b;
            }
          }
        }
        .hover-txt {
          opacity: 0;
          background-color: #333333;
          font-weight: 100;
          padding: 8px 20px;
          position: absolute;
          left: 50%;
          margin-right: 50%;
          transform: translate(-50%, 0);
          bottom: 80px;
          color: #ffffff;
          -webkit-transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
          transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
          &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #333333;
            bottom: -8px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0);
            -webkit-transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
            transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
          }
        }
      }
    }
  }
  .project-container {
    @extend %hide-scrollbar-container;
    @extend %fullpage;
    display: none;
    z-index: $depth-experience-detail;
    &.hillotask-mobile-detail {
      background-color: $white;
    }
  }
  .project {
    @extend %fullpage;
    @extend %hide-scrollbar-container__inner;
    &__toolbar {
      width: 90px;
      height: 90px;
      background: #333333;
      position: fixed;
      right: 0;
      top: 0;
      opacity: 1;
      z-index: 100;
      -webkit-transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
      transition: all 0.5s cubic-bezier(0.24, 0.63, 0.5, 0.99);
      i {
        @include vertical-align();
        padding: 28px;
        color: $white;
        cursor: pointer;
        transform-origin: 50% 50%;
        transition: all .2s $linear;
        &:hover {
          transform: translateY(-50%) rotate(270deg);
        }
      }
    }
    &__header {
      &--bg {
        width: 100%;
        height: 100vh;
        background: url('../projects/hillotask/App__head.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding-right: 15px;
      }
      &--mask {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: #000;
        opacity: 0.68;
      }
      &--text {
        @include text(rem(38px), 1.625, $font-weight--bold, $color-font-secondary);
        width: 100%;
        position: absolute;
        color: white;
        text-align: center;
        top: 37%;
        h1 {
          @include text(rem(56px), 1.625, $font-weight--bold, $color-font-secondary);
          letter-spacing: .4rem;
          text-transform: uppercase;
        }
      }
    }
    &__body{
      width: 100%;
      .overview {
        text-align: left;
        margin-top: 10rem;
        overflow:hidden;
        & > * {float: left;}
        .intro {
          width: 66.6666667%;
          .inner-container {
            padding-left: 18rem;
            padding-right: 14rem;
            width: auto;
          }
        }
        .stats {
          width: 33.3333333%;
          p:nth-child(odd) {
            @include text(rem(16px), $weight: $font-weight--bold);
            margin-bottom: 1.5rem;
          }
          p:nth-child(even) {
            @include text(rem(16px), $weight: $font-weight--light);
            margin-bottom: 4rem;
          }
        }
      }
      .highlights {
        .inner-container {
          width: calc(100% + 15px);
        }
        .headline {
          padding-top: 100px;
          padding-bottom: 100px;
          margin-bottom: 100px;
          p {
            @include text(rem(18px), $weight: $font-weight--light);
          }
        }
        .tech-stack {
          @extend .headline;
          background-color: #424041;
          margin-top: -100px;
          & > * {color: $color-font-secondary;}
          p {
            @include text(rem(17px), $weight: $font-weight--light, $color: $color-font-secondary);
            &:first-child {
                text-decoration: underline;
            }
          }
        }
        .illustration img {
          width: 80%;
          padding-left: 5rem;
          padding-right: 5rem;
        }
        &--lightblue .headline {
          background: linear-gradient(to bottom right, #35ffff, #2ce3f5);
        }
        &--blue .headline {
          background: linear-gradient(to bottom right, #2ce3f5, #20c8ec);
        }
        &--darkblue .headline {
          background: linear-gradient(to bottom right, #20c8ec, #13ABE2);
        }
      }
    }
  }

}

svg#demo {
    @include vertical-align();
}

.frame {
  fill: $black;
  stroke: $white;
  stroke-width: 2px;
}

.screen {
 fill: #22282F;
}

.button {
 fill: #22282F;
 transition: all 0.5s;
  .iMac & {
    fill: #C8C9CD;
  }
}

.button-mark {
 fill: none;
  stroke: #24D1EF;
  .iMac & {
    fill: #666;
  }
}
