.icon-spin-this {
  -webkit-transition:-webkit-transform .25s, opacity .25s;
  -moz-transition:-moz-transform .25s, opacity .25s;
  transition: transform .25s, opacity .25s;
  opacity:.25;
}

.icon-spin-this:hover{
	@extend %animate-spin;
	opacity:1;
}
