input, label {
  display: block;
}

.form {
  margin: 20% 0 0 25%;
  ng-form {
    & > * { margin-top: 20px;}
    & > div {
      input, textarea {
        padding: 10px 15px;
        margin-top: 5px;
      }
      &:nth-child(-n+3) input {
        width: 50%;
      }
      &:nth-child(4) input {
        width: 60%;
      }
      textarea {
        width: 70%;
        height: 60px;
      }
    }
  }
  button {
    margin-left: calc(70% - 30.20px);
    padding: 5px 10px;
    background-color: #ccc;
    border: 1px solid black;
    color: $royal-blue;
    font-weight: bold;
    cursor: pointer;
  }
}
