
// Text

@mixin text($size:null, $l-height:null, $weight:null, $color:null) {
  font-size: $size;
  line-height: $l-height;;
  font-weight: $weight;
  color: $color;
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $brk-phone) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $brk-phone + 1) and (max-width: $brk-desktop - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $brk-desktop) { @content; }
  }
}
