
// Descriptive color variables

$white         :   #fefefe;
$black         :   #000;
$mine-shaft    :   #333;
$grey          :   #878787;
$alto          :   #ddd;
$picton-blue   :   #55acee;
$sunglo        :   #E26A6A;
$brown-gold    :   #917e5e;
$light-brown   :   #a8936f;

// Functional color variables
$color-light-background  : $white;
$color-grey-background   : $alto;
$color-border-light      : lighten($grey, 35%);

$color-font-primary      : $mine-shaft;
$color-font-secondary    : $white;
$color-href-hover        : $picton-blue;

$color-shadow            : rgba($black, .8);

// UI colors
$ui-colors: (
  default      :   $color-font-primary,
  highlight    :   $picton-blue,
  error        :   $sunglo
);


// Font Stacks
$font-url--google        :  'https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary    :  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  :  'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font Weights
$font-weight--thin         :  100;
$font-weight--light        :  300;
$font-weight--medium       :  400;
$font-weight--bold         :  700;
$font-weight--ultra-bold   :  900;

// Text
$base__font-size : 10px;
$base__line      : 15px;

// Depth: Z-index
$depth-page      : 1;
$depth-animation : 2;
$depth-nav       : 3;
$depth-resume    : 4;
$depth-text--skill : 5;
$depth-experience-timeline : 5;
$depth-record    : 6;
$depth-experience-detail : 7;
$depth-warning   : 8;

// Assets Paths
$path-img    :    '../img';
$path-icon   :    #{$path-img}/icon;


// Media Queries Breakpts

$brk-phone     : 425px;
$brk-tablet    : 768px;
$brk-desktop   : 1024px;
