// Element Animation
.slide {
  @extend %slide;
  opacity: 0;
  animation: slideIt 3s $ease-out-expo forwards;
  &-up {
    @extend .slide;
    transform: translateY(100%);
  }
  &-down {
    @extend .slide;
    transform: translateY(-100%);
  }
  &-left {
    @extend .slide;
    transform: translateX(100%);
  }
  &-right {
    @extend .slide;
    transform: translateX(-100%);
  }
}

@keyframes slideIt {
  100% { transform: translate(0); opacity: 1;}
}

.fade {
  opacity: 0;
  animation: fadeIt 3s $ease-out-expo forwards;
}

@keyframes fadeIt {
  100% { opacity: 1; };
}

.zoom {
  opacity: 0;
  animation: zoomIt 3s $ease-out-expo forwards;
  // &-in-right {
  //   @extend .zoom;
  //   transform: translate(-100px) scale(.6);
  // }
}

@keyframes zoomIt {
  100% { transform: translate(0) scale(1); opacity: 1;}
}

.zoom-in-right {
  opacity: 1 !important;
  transform: translate(0) scale(1);
  animation: zoomItRight 3s $ease-out-expo;
}

@keyframes zoomItRight {
  0% { transform: translate(-100px) scale(.6); opacity: 0; }
  100% { transform: translate(0) scale(1); opacity: 1; }
}

// Page Transition Animation
.here {
  z-index: $depth-animation;
}
svg#to_exp,
svg#to_home,
svg#to_skills,
svg#to_interests,
svg#to_contact {
  position: absolute;
  top: 0px;
  left: 0px;
}
