.record-player {
  position: fixed;
  bottom: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  z-index: $depth-record;
  transition: bottom .5s ease,
              left .5s ease;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
  &:hover {
    bottom: 10px;
    left: 15px;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}
